.lucas-menu {
    position: relative;
    height: 75vh;
    width: 50vh;
    margin: 0 20px 0 20px;
    overflow-x: hidden;
}

.lucas-menu-buttons {
    /* position: absolute; */
    /* bottom: 6px; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.lucas-menu-buttons .MuiButton-root {
    width: 19vh;
    height: 4rem;
    /* background-color: #4A473E; */
    color: white;
    border-radius: 0px;
    margin: 0px 0.5vh 0px 0.5vh;
}

/* .lucas-menu-buttons .MuiButton-root:hover {
    background-color: #6D6A61;
} */

.lucas-menu-settings {
    padding-top: 16px;
    width: 100%;
}

.lucas-menu .MuiAccordionSummary-root {
    background-color: #4A473E;
    color: white
}

.lucas-menu .MuiAccordionSummary-root:focus {
    background-color: #5A574E;
}

.lucas-menu .MuiAccordionDetails-root {
    background-color: #B3AE99;
    color: #4A473E;
    max-height: 30vh;
    /* max-height: 253px; */
    overflow-y: auto;
}

.lucas-menu .MuiSlider-root {
    width: 60%;
    /* color: #4A473E; */
}

/* .lucas-menu .MuiSlider-thumb:hover {
    box-shadow: 0px 0px 0px 8px rgba(74, 71, 62, 0.16);
} */

.lucas-menu-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%
}

.lucas-menu-options .lucas-menu-control {
    margin-left: auto;
}

/* .lucas-menu .MuiSwitch-switchBase {
    color: #4A473E;
} */

.lucas-menu-score {
    color: #4A473E;
}

.lucas-menu-score h1 {
    font-size: 2.5rem
}

.lucas-menu-patterns {
    width: 100%
}

.lucas-menu-patterns .MuiButton-fullWidth {
    /* background-color: #4A473E; */
    color: white;
    width: 100%;
    border-radius: 0px;
    margin-top: 16px;
}

/* .lucas-menu-patterns .MuiButton-root:hover {
    background-color: #6D6A61;

} */

.lucas-menu-saved-patterns {
    margin-top: 8px;
    overflow-y: auto;
    max-height: 20vh;
    /* max-height: 180px; */
}

/* .lucas-menu-patterns .MuiRadio-colorSecondary.Mui-checked {
    color: #4A473E;
} */

/* .lucas-menu-patterns .MuiRadio-colorSecondary.Mui-checked:hover {
    background-color:  rgba(74, 71, 62, 0.16);
}

.lucas-menu-patterns .MuiRadio-colorSecondary:hover {
    background-color:  rgba(74, 71, 62, 0.16);
} */