.lucas-menu {
    position: relative;
    height: 700px;
    width: 400px;
    margin: 0 20px 0 20px;
}

.lucas-menu-buttons {
    position: absolute;
    bottom: 6px;
    width: 100%;
}

.lucas-menu-buttons .MuiButton-root {
    width: 50%;
    background-color: #4A473E; 
    color: white;
    border-radius: 0px;
}

.lucas-menu-buttons .MuiButton-root:hover {
    background-color: #6D6A61; 
}